<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2 class="">All Tasks</h2>
	<% if @problems.count.equal?(0) %>
		<div class="container">
			<%= link_to 'Create new Board ', new_problem_path, class: 'btn btn-success' %>
		</div>	
	<% else %>
		<% @problems.each do |problem| %>
			<br>
			<%= link_to problem.name %>
			<br>
		<% end %>
	<% end %>
</body>
</html>