<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div>
		<section>
			<h2><%= @problem.name %></h2>
			<%= @problem.created_at %>
			<br><br>
			<%= button_to 'Delete', problem_path(@problem), method: :delete, class: 'btn btn-danger mr-1'%>
		</section>
		<hr>
		<section>

		</section>
	</div>
</body>
</html>
