<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2 class="">All Tasks</h2>
	<div class="container">
		
	</div>
	<%= link_to 'Create new Board ', new_problem_path, class: 'btn btn-success'%>
</body>
</html>